@import "../../../styles/variables.scss";

.linesNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 2rem;
  font-size: $text-size;
  line-height: 1.35;
  text-align: right;
  color: rgba(12, 12, 12, 0.3);
  background-color: $white;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.editor__response {
  &_linesNumber {
    background-color: $blue;
    color: $editor-read-lines;
  }
}
