@import "../../styles/variables.scss";

.button {
  display: inline-block;
  width: fit-content;
  height: 3rem;
  padding: 0 1rem;
  padding-bottom: 1px;
  background-color: $blue;
  border: none;
  font-size: $text-size;
  color: $white;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $button-back-hover;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: initial;
    }
  }
}