@import "../../styles/variables.scss";

.editor {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &__container {
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  &__textArea {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: block;
    font-size: $text-size;
    line-height: 1.35;
    border: none;
    outline: none;
    resize: none;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}

.editor__request {
  .editor__textArea {
    white-space: pre;
    overflow-x: auto;
  }
}

.editor__response {
  .editor__textArea {
    padding-left: 3rem;
    color: $white;
    background-color: $blue;

    overflow: hidden;

    &::placeholder {
      color: $editor-read-lines;
    }
  }
}
