@import "../../styles/variables.scss";

.editor {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &__container {
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  &__linesCount {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: $text-size;
    line-height: 1.35;
    color: rgba(12, 12, 12, 0.3);
    background-color: $white;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__textArea {
    position: relative;
    padding: 2rem 8rem 2rem 1rem;
    width: 100%;
    height: 100%;
    display: block;
    font-size: $text-size;
    line-height: 1.35;
    border: none;
    outline: none;
    resize: none;

    &::placeholder {
      color: rgba(12, 12, 12, 0.3);
    }
  }
}

.editor__response {
  .editor__linesCount {
    color: rgba(255, 255, 255, 0.5);
    background-color: $blue;
  }

  .editor__textArea {
    color: $white;
    background-color: $blue;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
