@import "../../styles/variables.scss";

.strength {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;

  &__item {
    display: block;
    width: 25%;
    height: 2px;
    background-color: $input-border;
  }

  &__color {
    background-color: $green-color;
  }
}
