$black: #121212;
$white: #ffffff;
$blue: #0047FF;
$button-back: $blue;
$button-back-hover: $black;
$button-back-secondary: #d2ddff;
$page-back: #EDF2FF;

$editor-read-lines: rgba(255, 255, 255, 0.5);
$input-border: #D7D7D7;
$panel-header-back: #eff4ff;

$text-size: 1.6rem;
$text-size-button: 2rem;
$subtitle-color: $black;
$placeholder-color: #b5b5b5;
$error-color: #e10b0b;
$green-color: #14c54f;

$header-height: 5rem;
$padding-body: 2rem;