$black: #121212;
$white: #ffffff;
$button-border: #767676;
$button-border-active: #272727;
$button-back: #e3e3e3;
$button-back-hover: #d0d0d0;
$card-border: #d4d9e2;
$page-back: #f5f5f5;
$blue: blue;

$text-size: 1.4rem;

$header-height: 6.4rem;
$padding-body: 2rem;