$black: #121212;
$white: #ffffff;
$blue: #0047FF;
$button-back: $blue;
$button-back-hover: $black;
$page-back: #EDF2FF;

$input-border: #D7D7D7;

$text-size: 1.6rem;
$text-size-button: 2rem;
$subtitle-color: $black;
$placeholder-color: #a8a8a8;
$error-color: #e10b0b;
$green-color: #14c54f;

$header-height: 5rem;
$padding-body: 2rem;