@import "../../styles/variables.scss";

.header {
  padding: 0 $padding-body;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $blue;
  background-color: $white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue;
    text-transform: uppercase;

    &::after {
      background-color: $blue;
    }
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;

  &__logo {
    width: 26rem;
    height: 2rem;
    background-color: $blue;
    margin-right: auto;

    &::after {
      display: none;
    }
  }

  &__links {
    display: flex;
    gap: 1.5rem;
  }

  &__lang {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;

    .select {
      appearance: none;
      width: 5.8rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0.8rem;
      font-size: 1.8rem;
      color: $white;
      background-color: $blue;
      border: none;
      border-radius: 0;
      outline: none;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 1.1rem;
      right: 1rem;
      width: 1rem;
      height: 0.8rem;
      background-color: $white;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      pointer-events: none;
      transition: all 0.2s ease-in;
    }
  }
}

.header__blue {
  background-color: $blue;

  .nav__logo {
    background-color: $white;
  }

  .link {
    color: $white;

    &::after {
      background-color: $white;
    }
  }

  .nav__lang {
    .select {
      color: $blue;
      background-color: $white;
    }

    &::after {
      background-color: $blue;
    }
  }
}
