@import "../../styles/variables.scss";

.field__password {
  width: 100%;

  input {
    padding-right: 7.5rem;
  }

  &_button {
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 0 2rem;
    height: 5.8rem;
    background-color: $white;
    color: $blue;
    font-size: $text-size;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
