@import "../../../styles/variables.scss";

.playground {
  padding: $padding-body;
  height: calc(100vh - 5rem);

  &__views {
    padding: $padding-body;
    padding-right: 1rem;
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    background-color: $blue;
  }
}