@import "../../../styles/variables.scss";

.playground {
  position: relative;
  padding: $padding-body;

  @media (max-width: 768px) {
    height: auto;
    padding: $padding-body 1rem 6rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__button {
    height: 3rem;
    padding: 0 2rem 2px;
    font-size: $text-size;
  }

  &__form {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    &_input {
      height: 3rem;
      padding-left: 1rem;
    }
  }

  &__views {
    display: flex;
    width: 100%;
    height: calc(100vh - $header-height * 2 - $padding-body);
    padding: $padding-body;
    background-color: $blue;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
      height: auto;
    }
  }
}

.docButton_open {
  background-color: $black;
}
