@import "../../styles/variables.scss";

.course {
  background-color: $blue;
  color: $white;
  line-height: 1.3;

  &__container {
    padding: 6rem $padding-body;
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      padding: 6rem 1rem;
    }

    @media (max-width: 580px) {
      flex-direction: column;
      gap: 6rem;
    }
  }

  &__info,
  &__table {
    width: 50%;

    @media (max-width: 580px) {
      width: 100%;
    }
  }
}

.info__picture {
  width: 260px;
  height: auto;
  margin-bottom: 1rem;

  @media (max-width: 580px) {
    width: 100%;
  }
}

.info__content {
  &_tag {
    display: block;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }

  &_title {
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_link {
    color: $white;

    &::after {
      background-color: $white;
    }
  }
}

.course__table {
  display: flex;
  flex-direction: column;

  &_item {
    width: 100%;
    padding: 2.2rem 2rem;
    border: 1px solid $white;
    display: flex;
    gap: 1rem;
    margin-bottom: -1px;

    transition: all 0.1s linear;

    & span:first-child {
      font-weight: 600;
    }

    &:hover {
      background-color: $white;
      color: $blue;
    }

    @media (max-width: 1050px) {
      padding: 2rem;
      flex-direction: column;
      gap: 0;
    }
  }
}
