@import "../../../styles/variables.scss";

.image {
  &__container {
    padding: $padding-body;

    @media (max-width: 768px) {
      padding: $padding-body 1rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
    background-color: grey;
  }
}